{erl_opts, [{parse_transform, lager_transform}, {lager_extra_sinks, [oss_file, xgame_file]}]}.
{deps, [
  {lager, {git, "https://github.com/erlang-lager/lager", {tag, "3.6.7"}}},
  {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.6.1"}}},
  {jiffy, {git, "https://github.com/davisp/jiffy.git", {tag, "0.15.2"}}},
  {gun, {git, "https://github.com/ninenines/gun.git", {tag, "1.3.2"}}},
  {bitcask, {git, "https://github.com/basho/bitcask.git", {tag, "2.1.0"}}}
]}.

{project_app_dirs, ["apps/*", "libs/*", "."]}.

{relx, [
  {release, 
    {chatroom, "0.1.0"},
    [chatroom, sasl]
  },

  {release,
    {chatclient, "0.1.0"},
    [chatclient, sasl]  
  },

  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},

  {dev_mode, true},
  {include_erts, false},

  {extended_start_script, true}]
}.

{profiles, [
  {prod, [
    {relx, [
      {dev_mode, false},
      {include_erts, true}
    ]}
  ]}]
}.
